body{
    font-family: lora, 'Open Sans', sans-serif;
    font-size: 14px;
    color: #95a5a6;
    background-color: #ffffff;
}

/************HEADER**************/
header{
    background: url("../img/start-bg.jpg")no-repeat scroll 0 0/ cover;
    text-align: center;
    color: #ffffff;
}
.header-title{
    padding-top: 200px;
    padding-bottom: 150px;
}
.header-top-title{
    font-family: Rokkitt, 'Open Sans', sans-serif;
    font-size: 55px;
    line-height: 55px;
}
.header-bottom-title{
    font-family: Quicksand, 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 22px;
}
/************BUTTONS**************/
.buttons{
    font-family: Rokkitt, 'Open Sans', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1abc9c;
    padding: 15px 45px;
}
.buttons:hover{
    font-family: Rokkitt, 'Open Sans', sans-serif;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color:#1abc9c;
    background-color: #ffffff;
    border: 2px solid #1abc9c;
    padding: 15px 45px;

}
.header-btn-area .h-btn{
    border: 9px solid  #78d8c5;
}
.buttons .fa-arrow-right{
    padding-right: 10px;
}
/************TOP-FIXED NAVIGATION**************/
.top-nav{
    background: transparent;
    border-color: transparent;
    margin-top: 35px;
}
.top-nav .header-nav ul li a{
    font-family: Rokkitt, 'Open Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}
.logo{
    margin-top: 15px;
}
.navbar-header .logo a{
    font-family: Rokkitt, 'Open Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}
.navbar-header .logo a:hover{
    text-decoration: none;
    color: #1abc9c;
}
.top-nav .header-nav ul li a:hover{
    color: #1abc9c;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
    color: #1abc9c;
}
/************ABOUT**************/
.about-view{
    padding-top: 120px;
    padding-bottom: 60px;
}
.ab-name{
    text-transform: uppercase;
    font-size: 36px;
    color: #1abc9c;
    font-weight: 900;
    margin-bottom: 40px;
}
.ab-designation{
    color: #1abc9c;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}
.main-content{
    line-height: 1.75;
    font-size: 15px;
}
.ab-area{
    margin-top: 60px;
}
.ab-icons{
    color: #1abc9c;
}
/************WORK**************/
.work-view{
    padding-top: 60px;
    padding-bottom: 60px;
}

/************CONTACT**************/
.contact-view{
    padding-top: 60px;
    padding-bottom: 120px;
}
.contact-name{
    font-family: Rokkitt, 'Open Sans', sans-serif;
    color: #1abc9c;
    font-size: 60px;
}
.contact-form input,
.contact-form textarea{
    padding: 26px;
    background-color: #e4e8e8;
    font-family: Rokkitt, 'Open Sans', sans-serif;
    font-size: 25px;
    color: #cecece;
    border: none;
    border-radius:0;
    width: 80%;
}
.contact-form input{
    width: 38%;
    display: inline;
    margin-bottom: 29px;
}
.left-side{
    margin-right: 39px;
}
/************FOOTER**************/
footer{
    background-color: #1abc9c;
    height: 239px;

}